

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 60px;
    background-color: var(--background);
    z-index: 1000;
    transition: .3s;
    

    &.sticky {
        box-shadow: var(--box_shadow);
    }

    &.nav_hidden {
        top: -80px;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: center;
            & > * + * { margin-left: 15px;}

            li {
                list-style: none;

                &.divider {
                    height: 20px;
                    width: 2px;
                    display: block;
                    background-color: var(--divider);
                }

                a, div {
                    text-decoration: none;
                    cursor: pointer;
                }

                a {
                    color: var(--secondary_text);
                    text-transform: uppercase;
                }

                a.active {
                    color: var(--primary);
                }
            }

            .shop-link {
                position: relative;

                .abs-count {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    background-color: var(--primary);
                    width: 12px;
                    height: 12px;
                    font-size: 8px;
                    line-height: 8px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                }
            }
            
        }

        @media screen and (max-width: 900px){
            .nav-container {
                display: none;
            }
        }
    }

    @media screen and (max-width: 687px) {
        padding: 10px 30px;;
    }
}

.log-container{
    li{
        text-transform: uppercase;
    }
}