

.main-product-div {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark_grey);
    min-width: 220px;
    cursor: pointer;

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
        object-fit: cover;
    }

    .product-text {
        padding: 20px;
        padding-top: 40px;
        position: relative;

        .price {
            position: absolute;
            background-color: var(--primary);
            top: -5px;
            padding: 4px 8px;
            font-weight: bold;
        }

        .title {
            font-weight: bold;
            text-transform: uppercase;
        }

        .description {
            display: block;
            font-size: 1rem;
            margin: 20px 0;
            max-height: 50px;
        }
    }
}

.add-basket-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 10px;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    span {
        font-weight: bold;
        text-transform: uppercase;
    }

    &.loading {
        cursor: not-allowed;
        span {
            color: var(--secondary_text);
        }
        &::before {
            width: calc(100% + 10px);
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 100%;
        transform: translateY(10px);
        z-index: -1;
        background-color: var(--main_grey);
        transition: .3s;
    }

    &.primary {
        &::before {
            background-color: var(--primary);
        }
    }

    &:hover {
        &::before {
            width: calc(100% + 10px);
        }
    }
}