

#total-basket {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    .total-basket-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border: 1px solid var(--divider);
        background-color: #F6F6F6;
        padding: 20px;
        position: sticky;
        top: 90px;

        h1 {
            font-size: 1.3rem;
            margin-bottom: 20px;
        }

        p {
            max-width: 300px;
            margin: 10px 0;
        }

        .value-price {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;

            span {
                color: var(--secondary_text);

                &:first-child {
                    margin-right: 20px;
                }

                &.bold {
                    font-weight: bold;
                    color: var(--text);
                }

                &.bolder {
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: var(--text);
                }
            }
        }

        .divider {
            display: block;
            width: 100%;
            height: 1px;
            margin: 20px 0;
            background-color: var(--divider);
        }

        .secondary-button {
            margin-top: 20px;
        }
    }
}