@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	--background: #fff;
	--surface: #fff;
	--text: #222222;
	--strong_text: #000;
	--secondary_text: #566573;
	--on_surface: #000;
	--main_grey: #F2F2F2;
	--primary: #E2AA76;
	--primary_transparent: rgba(93, 173, 226, 0.2);
	--error: #F1948A;
	--warning: #F7DC6F;
	--success: #82E0AA;
	--on_primary: #fff;
	--border_radius: 6px;
	--divider: #D5DBDB;
	--divider_light: #D5DBDB;
	--deactivate: #D5DBDB;
	--box_shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	--light_theme_box_shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	--graph_background_default: #fff;
	--light_shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	--scroll_bar: #BFDEFF;
	--footer_background: #2C394B;
	--footer_text: #fff;
	--lateral_nav_background: rgba(255, 255, 255, 0.8);
	--modal_background: rgba(0, 0, 0, 0.4);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', 'Arial', Times, serif;
	color: var(--text);
}

body {
	width: 100%;
	padding: 0 60px;
	background-color: var(--background);
	min-height: 300vh;
}

::-webkit-scrollbar {
	width: 6px;
	background: transparent;
	position: fixed;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll_bar);
	border-radius: 3px;
}

section {
	width: 100%;
	max-width: 1400px;
}

.main-button {
	display: block;
	text-transform: uppercase;
	position: relative;
	padding: 15px 0 15px 10px;
	text-decoration: none;
	width: fit-content;
	font-weight: bold;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: calc(100% - 20px);
		height: calc(100% - 10px);
		top: 10px;
		left: 0;
		background-color: var(--main_grey);
		z-index: -1;
	}

	&::after {
		content: "";
		display: block;
		height: 2px;
		width: 50%;
		background-color: var(--primary);
		transform: translateY(4px);
		transition: .3s;
	}

	&:hover {
		&::after {
			width: calc(100% - 40px);
		}
	}
}