

.main-log {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);

    .center-log {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        height: 450px;
        width: 900px;
        max-width: 90vw;

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 60%;

            .log-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 10px;
                width: 100%;

                li {
                    list-style: none;
                    color: var(--secondary_text);

                    &.selected {
                        color: var(--text);
                    }

                    &.click {
                        cursor: pointer;
                    }

                    &.absolute-close {
                        position: absolute;
                        left: 10px;
                        cursor: pointer;

                        svg {
                            font-size: 1.4rem;
                        }
                    }

                    &.divider {
                        height: 20px;
                        width: 1px;
                        display: block;
                        background-color: var(--divider);
                        margin: 0 10px;
                    }
                }
            }

            .form-content {
                width: 100%;
                padding: 0 30px;
                margin-top: 20px;

                .input-row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    .input-label {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        label {
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        input {
                            width: 100%;
                            border: 1px solid var(--divider);
                            outline-color: var(--primary);
                            margin-bottom: 20px;
                            font-size: 1rem;
                            padding: 6px 12px;
                        }
                    }
                }

                .row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    span, label {
                        font-size: .85rem;
                    }

                    span {
                        cursor: pointer;
                    }

                    .checkbox-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        input {
                            margin-right: 5px;
                        }
                    }
                }

                .log-button {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #1E1E1E;
                    cursor: pointer;
                    
                    span {
                        color: #fff;
                        padding: 10px 0;
                    }
                }
            }
        }

        .log-image-container {
            display: flex;
            height: 100%;
            width: 49%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
