

#home-offer-section {
    position: relative;
    padding-bottom: 60px;

    .offers-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        
        > * + * { margin-left: 50px;}

        @media screen and (max-width: 1000px){
            flex-wrap: wrap;
            justify-content: space-evenly;

            > * + * { margin-left: unset;}

            > :nth-child(odd) {
                margin-right: 20px;
            }

            > :first-child {
                margin-bottom: 40px;
            }
        }

        @media screen and (max-width: 1000px){
            > :nth-child(odd) {
                margin-right: unset;
            }

            > * {
                margin-bottom: 40px;
            }
        }
    }
}

.section-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.home {
        margin: 20vh 0;
        &::before {
            display: block;
            content: "";
            position: absolute;
            width: 100vw;
            bottom: 0;
            height: calc(100% - 90px);
            background-color: var(--main_grey);
            z-index: -1;
        }
    }
}